{% extends 'core/base.html' %}
{% block title %}Import Data{% endblock %}
{% block content %}
    <h1 class="text-center">Import Data</h1>
    <form method="post" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="excel_file" class="form-label">Upload Excel File (optional):</label>
            <input type="file" name="excel_file" id="excel_file" class="form-control" accept=".xlsx">
        </div>
        <button type="submit" class="btn btn-primary w-100">Upload</button>
    </form>
{% endblock %}
