{% extends 'core/base.html' %}
{% block title %}System Health{% endblock %}
{% block content %}
    <h1 class="text-center">System Health</h1>
    <dl class="row mt-4">
        <dt class="col-sm-3">CPU Usage:</dt><dd class="col-sm-9">{{ cpu_usage }}%</dd>
        <dt class="col-sm-3">Memory Total:</dt><dd class="col-sm-9">{{ memory_total|floatformat:2 }} MB</dd>
        <dt class="col-sm-3">Memory Used:</dt><dd class="col-sm-9">{{ memory_used|floatformat:2 }} MB</dd>
        <dt class="col-sm-3">Memory Usage:</dt><dd class="col-sm-9">{{ memory_percent }}%</dd>
    </dl>
{% endblock %}
